<div class="p-4 border-2 rounded-lg shadow-lg border-primary-500-50 backdrop-blur-sm">
  <h2 class="mt-1 font-serif text-3xl font-bold leading-tight">Kommande aktiviteter</h2>
  <ul class="flex flex-col mt-4 space-y-4">
    <li>
      <div><strong>17 januari</strong> — <em>Terminen börjar</em></div>
      <div class="ml-3">
        <p class="mt-1 mb-0">Vi hoppas att alla har haft bra helger och lov, och är redo för en ny termin! Välkomna tillbaka den 17:e januari! (Vuxna tränar även innan den 17:e)</p>
      </div>
    </li>
    <li>
      <div><strong>27 februari 17:30</strong> — <em>Träning hos Aikido Kobayashi Göteborg</em></div>
      <div class="ml-3">
        <p class="mt-1 mb-0">Vi har blivit inbjudna hos våra vänner i Möndal, för träning och samkväm.</p>
      </div>
    </li>
  </ul>
</div>
