<section>
  <h3 class="mt-10 mb-6 font-serif text-2xl font-bold leading-tight">Tack till våra partners!</h3>
  <div class="backdrop-blur-sm">
    <div class="max-w-screen-lg py-2 mx-auto">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-4">
        <div class="flex items-center justify-center p-4 shadow rounded-md" style="background-color: rgba(248, 250, 252, 0.7);">
          <a href="https://www.idrottensbingo.se/" class="p-2">
            <img src="/assets/idrottens-bingo-logo.png" alt="Idrottens Bingo logo" class="max-h-20" />
          </a>
        </div>
        <div class="flex items-center justify-center p-4 shadow rounded-md" style="background-color: rgba(248, 250, 252, 0.7);">
          <a href="https://budofitness.se/" class="p-2">
            <img src="/assets/logo-liggande.jpg" alt="Budo Fitness logo" class="max-h-20" />
          </a>
        </div>
        <div class="flex items-center justify-center p-4 shadow rounded-md" style="background-color: rgba(248, 250, 252, 0.7);">
          <a href="https://skyltmax.se/" class="p-2">
            <img src="/assets/skyltmax-1x.png" alt="Skyltmax logo" class="max-h-20" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
