<section>
  <h3 class="mt-10 mb-6 font-serif text-2xl font-bold">Tack till våra partners!</h3>
  <div class="backdrop-blur-sm">
    <div class="max-w-screen-lg mx-auto px-4 py-8">
      <div class="grid grid-cols-1 gap-4">
        <div class="flex items-center justify-center px-4 py-4 shadow bg-surface rounded-md">
          <a href="https://www.idrottensbingo.se/" class="px-4 py-4 max-h-24">
            <img src="/assets/a4bd19394e61-idrottens-bingo-logo.png" alt="Idrottens Bingo logo" />
          </a>
        </div>
        <div class="flex items-center justify-center px-4 py-4 shadow bg-surface rounded-md">
          <a href="https://budofitness.se/" class="px-4 py-4 max-h-24">
            <img src="/assets/4eda26dd9b47-logo-liggande.jpg" alt="Budo Fitness logo" />
          </a>
        </div>
        <div class="flex items-center justify-center px-4 py-4 shadow bg-surface rounded-md">
          <a href="https://skyltmax.se/" class="px-4 py-4 max-h-24">
            <img src="/assets/a56cc0aec4f4-skyltmax-1x.png" alt="Skyltmax logo" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
