@plugin "daisyui/theme" {
  name: "adg-light";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: oklch(100% 0 0); /* closest: white */
  --color-base-200: oklch(98% 0 0); /* closest: gray-50 */
  --color-base-300: oklch(95% 0 0); /* closest: gray-100 */
  --color-base-content: oklch(21% 0.006 285.885); /* closest: gray-900 */

  --color-primary: var(--color-blue-600);
  --color-primary-content: var(--color-blue-50);
  --color-primary-darker: var(--color-blue-700);
  --color-primary-lighter: var(--color-blue-500);

  --color-secondary: var(--color-emerald-400);
  --color-secondary-content: var(--color-emerald-50);
  --color-secondary-darker: var(--color-emerald-500);
  --color-secondary-lighter: var(--color-emerald-300);
  
  --color-accent: var(--color-purple-500);
  --color-accent-content: var(--color-purple-50);
  --color-accent-darker: var(--color-purple-600);
  --color-accent-lighter: var(--color-purple-400);

  --color-neutral: oklch(14% 0.005 285.823); /* closest: gray-950 */
  --color-neutral-content: oklch(92% 0.004 286.32); /* closest: gray-200 */

  --color-info: var(--color-blue-400);
  --color-info-content: var(--color-blue-50);

  --color-success: var(--color-green-500);
  --color-success-content: var(--color-green-50);

  --color-warning: var(--color-amber-500);
  --color-warning-content: var(--color-amber-900);

  --color-error: var(--color-red-500);
  --color-error-content: var(--color-red-50);

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --radius-badge: 0.25rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;

  --depth: 1;
  --noise: 0;
}
