@plugin "daisyui/theme" {
  name: "adg-light";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: oklch(95% 0 285.885); /* closest: white */
  --color-base-200: oklch(97% 0 285.885); /* closest: gray-50 */
  --color-base-300: oklch(99% 0 285.885); /* closest: gray-100 */
  --color-base-content: oklch(21% 0.006 285.885); /* closest: gray-900 */

  --color-primary: var(--azure-500);
  --color-primary-content: var(--azure-100);
  --color-primary-darker: var(--azure-600);
  --color-primary-lighter: var(--azure-400);

  --color-secondary: var(--neon-500);
  --color-secondary-content: var(--neon-100);
  --color-secondary-darker: var(--neon-600);
  --color-secondary-lighter: var(--neon-400);
  
  --color-accent: var(--sky-500);
  --color-accent-content: var(--sky-100);
  --color-accent-darker: var(--sky-600);
  --color-accent-lighter: var(--sky-400);

  --color-neutral: oklch(14% 0.005 285.823); /* closest: gray-950 */
  --color-neutral-content: oklch(92% 0.004 286.32); /* closest: gray-200 */

  --color-info: var(--color-blue-500);
  --color-info-content: var(--color-blue-100);

  --color-success: var(--turquoise-500);
  --color-success-content: var(--turquoise-100);

  --color-warning: var(--amber-500);
  --color-warning-content: var(--amber-100);

  --color-error: var(--red-500);
  --color-error-content: var(--red-100);

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --radius-badge: 0.25rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;

  --depth: 1;
  --noise: 0;
}
