@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap');

@import 'tailwindcss';

@plugin "daisyui"{
  themes: adg-light --default, adg-dark --prefersdark;
}

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Alegreya', serif;

  --spacing-content: fit-content;

  /* these will get defined in the themes */
  --color-primary-darker: red;
  --color-primary-lighter: red;
  --color-secondary-darker: red;
  --color-secondary-lighter: red;
  --color-accent-darker: red;
  --color-accent-lighter: red;
}

@import "./adg-light.css";
@import "./adg-dark.css";

@plugin "@tailwindcss/typography";

@import './elements.css' layer(components);


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@config '../../tailwind.config.js';

