@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap');

@import 'tailwindcss';

@plugin "daisyui"{
  themes: adg-light --default, adg-dark --prefersdark;
}

@property --deg {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@theme {
  --font-sans: 'Montserrat', sans-serif;
  --font-serif: 'Playfair Display', serif;

  --spacing-content: fit-content;

  /* these will get defined in the themes */
  --color-primary-darker: red;
  --color-primary-lighter: red;
  --color-secondary-darker: red;
  --color-secondary-lighter: red;
  --color-accent-darker: red;
  --color-accent-lighter: red;

  --my-gradient: conic-gradient(from var(--deg) at center, transparent, red, #6300c6, #009dcd);

  --animate-autoRotate: autoRotate 5s linear infinite;
  @keyframes autoRotate {
    to {
      --deg: 360deg;
    }
  }
}

@import "./palette.css";
@import "./adg-light.css";
@import "./adg-dark.css";

@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@config '../../tailwind.config.js';

