@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap');

@import 'tailwindcss';
@import './elements.css' layer(components);

@plugin "daisyui"{
  themes: light, dark, sweettown, cupcake, bumblebee, emerald, corporate, synthwave, retro, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade, night, coffee, winter, dim, nord, sunset;
}
@plugin "daisyui/theme" {
  name: "adg";
  default: false;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: var(--color-slate-50);
  --color-base-200: var(--color-slate-100);
  --color-base-300: var(--color-slate-200);
  --color-base-content: var(--color-slate-800);
  
  --color-primary: var(--color-sky-400);
  --color-primary-content: var(--color-sky-900);
  
  --color-secondary: var(--color-emerald-400);
  --color-secondary-content: var(--color-emerald-900);
  
  --color-accent: var(--color-amber-400);
  --color-accent-content: var(--color-amber-900);
  
  --color-neutral: var(--color-slate-400);
  --color-neutral-content: var(--color-slate-900);
  
  --color-info: var(--color-blue-500);
  --color-info-content: var(--color-blue-50);
  
  --color-success: var(--color-green-500);
  --color-success-content: var(--color-white);
  
  --color-warning: var(--color-yellow-400);
  --color-warning-content: var(--color-black);
  
  --color-error: var(--color-red-500);
  --color-error-content: var(--color-white);

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;

  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "sweettown";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(82% 0.111 230.318);
  --color-primary-content: oklch(29% 0.066 243.157);
  --color-accent: oklch(78% 0.115 274.713);
  --color-accent-content: oklch(25% 0.09 281.288);
  --color-secondary: oklch(75% 0.183 55.934);
  --color-secondary-content: oklch(26% 0.079 36.259);
  --color-neutral: oklch(37% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(70% 0.14 182.503);
  --color-info-content: oklch(98% 0.014 180.72);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(65% 0.241 354.308);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@config '../../tailwind.config.js';

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Alegreya', serif;

  --spacing-content: fit-content;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
  }
}

@layer utilities {
  input:checked + label {
    @apply ring-8;
  }
}
