@plugin "daisyui/theme" {
  name: "codesurf";
  default: false;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #E5E7EB;
  --color-base-200: #F1F5F9;
  --color-base-300: #FAFAFA;
  --color-base-content: #1E293B;
  
  --color-primary: #0284C7;
  --color-primary-content: #F0F9FF;
  
  --color-secondary: #0369A1;
  --color-secondary-content: #E0F2FE;
  
  --color-accent: #0EA5E9;
  --color-accent-content: #E0F7FF;
  
  --color-neutral: #334155;
  --color-neutral-content: #F8FAFC;
  
  --color-info: #60A5FA;
  --color-info-content: #ffffff;
  
  --color-success: #16A34A;
  --color-success-content: #ffffff;
  
  --color-warning: #F59E0B;
  --color-warning-content: #000000;
  
  --color-error: #EF4444;
  --color-error-content: #ffffff;

  --radius-selector: 0.6rem;
  --radius-field: 0.6rem;
  --radius-box: 0.4rem;
  --radius-badge: 0.4rem;

  --size-selector: 0.5rem;
  --size-field: 0.5rem;

  --border: 1px;

  --depth: 1;
  --noise: 0;
}
