html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-bold leading-tight;
}

h1 {
    @apply mb-10 mt-14 text-4xl;
}

h1:first-of-type {
    @apply mt-2;
}

h2 {
    @apply mb-6 mt-10 text-3xl;
}

h2:first-of-type {
    @apply mt-2;
}

h3 {
    @apply mb-6 mt-8 text-2xl;
}

h3:first-of-type {
    @apply mt-2;
}

h4 {
    @apply mb-4 mt-6 text-xl;
}

h5 {
    @apply mb-2 mt-4 text-lg;
}

p {
    @apply mb-5;
}

p + p {
    @apply mt-5;
}

a { @apply link; 
&:hover {
    @apply link-accent;
}
}

