@import "tailwindcss";

@theme {
  /* Colors */
  --color-page-bg: rgb(239 246 255);
  --color-primary-light: rgb(191 219 254);
  --color-primary-mid: #60a5fa;
  --color-primary: rgb(59 130 246);
  --color-primary-border: rgb(147 197 253);
  --color-accent: rgb(139 92 246);
  --color-text-dim: rgb(71 85 105);
  --color-text-normal: rgb(30 41 59);
  --color-text-strong: rgb(15 23 42);
  --color-surface: rgb(248 250 252);

  /* Typography */
  --font-sans: "Inter", sans-serif;
  --font-serif: "Alegreya", serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-page-bg);
    color: var(--color-text-strong);
  }
}
