---
export interface Props {
  href: string;
  class?: string;
}

const { href, class: className } = Astro.props;
---

<a
  href={href}
  class:list={[
    "cta-button",
    className
  ]}
>
  <slot />
</a>
