---
interface Props {
  src: string;
  alt: string;
  class?: string;
}

const { src, alt, class: className } = Astro.props;
const classes = `w-36 max-w-xs lg:w-48 ${className || ''}`.trim();
---

<div class={classes}>
  <div class="bg-base-200 p-2 shadow-lg rounded-md">
    <img
      src={src}
      alt={alt}
      class="w-full h-auto bg-white"
    />
  </div>
</div>
