---
import { marked } from "marked";

// Default markdown content - can be customized
const markdownContent = `
### Till höger &rarr;

Välj en ljus eller mörk tema

### Till vänster &larr;

Varje menyval har en undermeny som listar olika alternativ för den sidan. Vi ska välja en av dem.
`;

const htmlContent = marked.parse(markdownContent);
---

<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn btn-warning btn-circle" aria-label="Information">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"
      />
    </svg>
  </div>
  <div
    tabindex="0"
    class="dropdown-content card card-border bg-base-200 shadow-xl z-[1] w-96 mt-1 p-2 border border-warning"
  >
    <div class="card-body prose prose-sm max-w-none text-base-content">
      <div set:html={htmlContent} />
    </div>
  </div>
</div>
