---
export interface Props {
  title: string;
  subtitle?: string;
  id?: string;
  gridCols?: string;
  class?: string;
}

const { 
  title, 
  subtitle, 
  id, 
  gridCols = "grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4",
  class: className 
} = Astro.props;
---

<li class:list={["mb-8", className]}>
  <div class="pt-1 pl-4 bg-base-200 shadow">
    <h2 class="w-full my-1 font-serif text-2xl" id={id}>
      {title}
    </h2>
    {subtitle && (
      <p class="pb-1 mt-0 mb-1">{subtitle}</p>
    )}
  </div>
  <ul class:list={["mt-4 grid gap-4", gridCols]}>
    <slot />
  </ul>
</li>
