---
export interface Props {
  title: string;
  price: string;
  note?: string;
  class?: string;
}

const { title, price, note, class: className } = Astro.props;
---

<div class:list={[
  "card card-border h-full shadow-md",
  className
]}>
  <div class="card-body p-3 gap-2">
    <h5 class="card-title text-lg justify-center border-b border-primary pb-1">
      {title}
    </h5>
    <span class="text-center">{price}</span>
    {note && (
      <span class="text-center text-sm opacity-70">{note}</span>
    )}
  </div>
</div>
