---
import ThemeChooser from "./ThemeChooser.astro";
import FontChooser from "./FontChooser.astro";
---

<div class="fixed top-0 right-0 z-100 flex flex-col items-center gap-2 bg-base-300/80 backdrop-blur-sm rounded-bl-lg p-2 shadow-lg border border-base-content/10">
  <ThemeChooser />
  <div class="divider divider-horizontal mx-0"></div>
  <FontChooser />
</div>
