---
import WavyBottom from "../../assets/wavy-bottom-border-divider-7aa22a.svg";
import WavyTop from "../../assets/wavy-border-divider-02e7e7.svg";
---

<section class="overflow-hidden">
  <div class="text-primary/30 -mx-12">
    <WavyBottom />
    <WavyTop />
  </div>
</section>
